.logo {
	display: block;
	height: 64px;
	padding-left: 24px;
}
.shadow {
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}
.Container {
	margin: 24px 24px 0 24px;
}
.logout-wrap {
	padding: 0 24px;
	position: absolute;
	right: 0;
	color: rgba(0,0,0,.65);
	float: right;
}
.logout-wrap:hover {
	background: #e6f7ff;
}
.logout-wrap span {
	margin-left: 5px;
}