.ant-upload-list-picture-card .ant-upload-list-item {
	float: left;
	width: 500px;
	height: 200px;
	margin-right: 8px;
}

.CreateArticle .list .list-item {
	margin-top: 20px;
}

.CreateArticle .poster {
	border: 1px solid #ddd;
	border-radius: 5px;
}