.topic-title .list .list-item {
	display: inline-block;
	list-style-type: disc;
	margin-right: 10px;
}
.topic-title .list .list-item em {
	margin-right: 5px;
	color: rgba(0, 0, 0, 0.65);
}

.comment-list .date {
	font-size: 8px;
	margin-left: 8px;
}