.Home {
	margin-top: 20px;
}

.ant-carousel, .slick-slide {
	text-align: center;
	overflow: hidden;
}

.ant-carousel, .slick-slide h3 {
	color: #fff;
}

.carousel-item {
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.carousel-item img {
	width: 100%;
	margin: 0 auto;
}