.avatar {
	width: 112px;
	height: 112px;
	border-radius: 50%;
	padding: 3px;
}

.img-thumbnail {
	border: 1px solid #ddd;
}

.media-heading {
	line-height: 112px;
}

.follow-user {
	text-align: center;
	margin-top: 15px;
}

.Profile .follow-user span {
	display: block;
}

.Profile .follow-user span.count {
	color: #f4645f;
	font-size: 30px;
}

.Profile .follow-user span.text {
	color: #999;
}

.Profile .edit-info {
	text-align: center;
}

.icon-list {
	padding-left: 0;
    list-style: none;
}

.icon-list li {
	display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 8px 0 0 6px;
    font-size: 1.2em;
    color: #606060;
}


.button-list-item {
	list-style: none;
	margin-top: 10px;
}

.button-list-item .button {
	width: 100%;
}