.Profile .avatar {
	width: 112px;
	height: 112px;
	border-radius: 50%;
	padding: 3px;
}

.Profile .img-thumbnail {
	border: 1px solid #ddd;
}


.Profile .media-body {
	text-align: center;
	margin-top: 15px;
}

.Profile .media-body span {
	display: block;
}

.Profile .media-body span.count {
	color: #f4645f;
	font-size: 30px;
}

.Profile .media-body span.text {
	color: #999;
}

.Profile .icon-list {
	padding-left: 0;
    list-style: none;
}

.Profile .icon-list li {
	display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 6px;
    margin: 8px 0 0 6px;
    font-size: 1.2em;
    color: #606060;
}

.HisProfile .media-footer ul {
	padding: 0;
	margin: 0;
}
.HisProfile .media-footer ul li {
	list-style: none;
}

.HisProfile .media-footer .list-item {
	margin-top: 10px;
}
.HisProfile .media-footer .list-item button {
	width: 100%;
}